@import "_import";

h1 {
  color: var(--color);
  display: flex;

  @media (--small-viewport) {
    font-size: 20px;
  }
}

div {
  color: var(--hoge-color);

  &:hover {
    font-size: 16px;
    margin: 0;
    background: #fff;
  }

  @media (--small-viewport) {
    color: rgba(#0fab53, .8);
    background: rgba(#fff, .8);
    font-size: 20px;
    margin: 0;
  }
}

a {
  @add-mixin foo 20px, inline-block;
  @apply --truncate;
}
